*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}

/*! generici*********************************/
.bordo{
    border: 1px solid red;
}
/*! main section********************************/
.alt-card{
    min-height: 200px;
}
.foto-wrapper{
    height: 150px;
}